@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  width: 100vw;
  height: auto;
  background-color: black;
}

/*NAVBAR Blur()*/
.blurred-navbar {
  backdrop-filter: blur(8px); 
}

